<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Daily Reports List</title>
</head>
<body>

<ul>
    {{range .}}
        <a href="/{{.Name}}"><li>{{.Date}}: {{.Abstract}}</li></a>
    {{end}}
</ul>

</body>
</html>